@model EmployeeUI.Models.Employee 

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Employee</h2>

@using (Html.BeginForm())
{

    <div style="text-align:center">

        <table>
            <tr>
                <td>
                    Id :
                </td>
                <td>
                    @Html.TextBoxFor(m => m.empId)
                </td>
            </tr>
            <tr>
                <td>
                    Name :
                </td>
                <td>
                    @Html.TextBoxFor(m => m.empName)
                </td>
            </tr>

            <tr>
                <td>
                    Email :
                </td>
                <td>
                    @Html.TextBoxFor(m => m.empMail)
                </td>
            </tr>
            <tr>
                <td>
                    Phone :
                </td>
                <td>
                    @Html.TextBoxFor(m => m.empPhone)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Update" />
                </td>
            </tr>
        </table>

    </div>
} 
@if (ViewBag.Message != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}  